{% extends 'DrinkApp/base.html' %}

{% block title %}
Login
{% endblock %}

{% block content %}
<div class="login-content shadow-lg p-5 rounded">
    <h2 class="mb-5 ">Witaj na stronie Logowania ! </h2>

    {% for message in messages %}
    <h2 class="mb-5"> {{ message }} </h2>
    {% endfor%}

    <form action="{% url 'login'%}" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-outline-primary m-3">Zaloguj</button>
        <a class="btn btn-outline-success m-3" href="{% url 'register' %}">Zarejestruj się</a>
    </form>

</div>
{% endblock %}