{% extends 'DrinkApp/base.html' %}

{% block title %}
Register
{% endblock %}

{% block content %}
<div class="register-content shadow-lg p-5 rounded">
<h2 class="mb-5">Witaj na stronie Rejestracji ! </h2>

{% if message %}
<h2 class="mb-5"> {{ message }} </h2>
{% endif %}

<form action=" {% url 'register' %}" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="btn btn-outline-primary m-3">Zarejestruj</button>
        <a class="btn btn-outline-success m-3" href="{% url 'login' %}">Zaloguj się</a>
</form>


</div>
{% endblock %}